body {
              font-size: larger;
            font-family: 'The Youngest';
            color: #2E8B57;
            text-align: center;
            background: #aed3ae;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #c7d1c1;
            color: #2f4f2f;
            font-size: 24px;
            margin-top: 100px;
            padding: 10px;
            font-weight: bold;
        }

        .menu {
            background-color: #013220;
            display: inline-block;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            text-align: left;
        }

        .menu a {
            display: block;
            color: white;
            text-decoration: none;
            font-size: 16px;
            margin: 8px 0;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .menu a:hover {
            background-color: #2f4f2f;
        }

        .top-logo {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 14px;
            color: #2f4f2f;
            font-weight: bold;
        }
        button {
            font-family:'The Youngest';
            margin-top: 10px;
            padding: 12px 25px;
            border: none;
            border-radius: 25px;
            background-color: #4f6d4c;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s;
        }