                body {
                    font-size: larger;
                    font-family: 'The Youngest';
                    color: #2E8B57;
                    text-align: center;
                    background: #aed3ae;
                }
                button {
                    font-family:'The Youngest';
            margin-top: 10px;
            padding: 12px 25px;
            border: none;
            border-radius: 25px;
            background-color: #4f6d4c;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s;
        }
        input{
            margin: 10px;
            padding: 17px 25px;
            border:#24450f;
            border-radius: 15px;
        }
        
        .top-logo {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 14px;
            color: #2f4f2f;
            font-weight: bold;
        }
        .voltar {
            position: absolute;
            top: 15px;
            left: 20px;
            font-size: 14px;
            color: #2f4f2f;
            font-weight: bold;
        }
        section {
            background-color: #1a320b;
            color: #c7d2c7;
            font-size: 24px;
            margin: 50px;
            padding: 25px;
            font-weight: bold;
            border-radius: 15px;
            box-shadow: #24450f;
        }